<h2>
  <%= t("plebisbrand.user.newsletters_suscription") %>
</h2>

<!-- section class="content-text"-->
<% if @user.sendy_url.present? %>
  <iframe class="iframe-full-size" frameborder="0" src="<%=@user.sendy_url %>">
    <p><%= t("plebisbrand.user.newsletters_connection_not_active") %></p>
  </iframe>
<% else %>
  <p><%= t("plebisbrand.user.newsletters_connection_not_active") %></p>
<% end %>
<!--/section -->
