<%= form_with scope: :vote_circles, url: { action: "people_in_tiny_vote_circles" }, local: true do |f| %>
  <div class="buttons">
    <%= f.submit 'Descargar fichero', class: 'button' %>
  </div>
<% end %>
