/*
 * IntlTelInput
 */
/* line 4, app/assets/stylesheets/adjustments.css.scss */
.content .intl-tel-input .country-list {
  max-height: 80px;
}

/* line 9, app/assets/stylesheets/adjustments.css.scss */
.input-group-addon {
  background: none repeat scroll 0 0 #eaeaea;
  border: medium none;
  display: inline-block;
  padding: 0.85em 1.5%;
  color: #555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-sefif;
  font-size: 1.6em;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  min-width: 16px;
  padding: 0.85em 1.5%;
  text-align: center;
  width: auto;
  float: left;
}

/* line 27, app/assets/stylesheets/adjustments.css.scss */
input[type='number'] {
  -moz-appearance: textfield;
}

/* line 31, app/assets/stylesheets/adjustments.css.scss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* line 38, app/assets/stylesheets/adjustments.css.scss */
.col-xs-3 div, .col-xs-4 div {
  width: 75%;
}

/* line 42, app/assets/stylesheets/adjustments.css.scss */
.col-xs-5 div {
  width: 85%;
}

/* line 46, app/assets/stylesheets/adjustments.css.scss */
.col-xs-3 {
  width: 100px;
  float: left;
}

/* line 51, app/assets/stylesheets/adjustments.css.scss */
.col-xs-4 {
  width: 150px;
  float: left;
}

/* line 56, app/assets/stylesheets/adjustments.css.scss */
.col-xs-5 {
  width: 175px;
  float: left;
}
