<%= form_with scope: :fill_csv, url: { action: "fill_csv" }, local: true do |f| %>
    <div class="filter_form_field">
      <label for="fill_csv_file">Archivo a cargar</label>
      <%= f.file_field :file %>
      <p style="margin-top:10px;">Debe:</p>
      <ul style="list-style-type: disc; margin-left: 15px;">
        <li>estar separado por tabuladores</li>
        <li>tener en la primera línea los nombres de los campos</li>
        <li>existir el primer campo para que coincida con el criterio de búsqueda, habitualmente <em>document_vatid</em>, <em>email</em> o <em>id</em></li>
      </ul>
    </div>
    <div class="buttons">
      <%= f.submit "Descargar CSV", class: 'button' %>
      <%= f.submit "Buscar", class: 'button' %>
    </div>
<% end %>
