<%= form_with scope: :process_bank_history, url: { action: "process_bank_history" }, local: true do |f| %>
    <%= f.file_field :file %>
    <div class="buttons">
      <%= f.submit 'Submit', class: 'button' %>
    </div>
<% end %>
