<%= form_with scope: :upload_vote_results, url: { action: "upload_vote_results" }, multipart: true, local: true do |f| %>
  <div class="filter_form_field">
    <label for="upload_vote_results_file">Selecciona archivo JSON</label>
    <%= f.file_field :file %>
    <label for="upload_vote_results_question_id">Índice de la pregunta</label>
    <%= f.number_field :question_id, value: 1 %>
  </div>
  <div class="buttons">
    <%= f.submit "Enviar", class: 'button' %>
  </div>
<% end %>
