test:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] || "a" * 128 %>
  users:
    min_militant_amount: 3

  agora:
    options_headers:
      text: "Texto"
      description: "Descripción"
      url: "Enlace"
    themes: ["default", "mytheme"]
    default: "agora"
    servers:
      agora:
        shared_key: "test_shared_key_for_testing"
        url: "https://test.example.com/"
  forms:
    domain: "forms.test.example.com"
    secret: "test_forms_secret"
  orders:
    payment_day: 5
development:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] || "b" * 128 %>
  users:
    min_militant_amount: 3

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  users:
    min_militant_amount: 3
