<% content_for :title, title %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <%= content_tag :h2, title %>
	  <% if defined? return_path %>
		<%= content_tag :p, link_to("Volver", return_path) %>
	  <% end %>
      <p><%= sanitize text, tags: %w[p br strong em a ul ol li], attributes: %w[href target rel] %></p>
    </div>
  </div>
</div>