# frozen_string_literal: true

module <%= @module_name %>
  # Ability class for <%= @module_name %>
  #
  # Define permissions for this engine using CanCanCan.
  #
  class Ability
    include CanCan::Ability

    def initialize(user)
      return unless user

      # Define abilities for this engine
      # Example:
      # can :read, <%= @module_name %>::Post
      # can :manage, <%= @module_name %>::Post if user.admin?
    end
  end
end
